.tableTitle{
  margin-bottom: 1rem;
  color: #ADEA16;
  font-weight: bold;
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.button {
  background-color: #ADEA16 !important;
  border: none !important;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.button:hover {
  background-color: #8FCB13 !important;
  cursor: pointer;
  color: black !important;
}

.deleteButton {
  background-color: #fd3030 !important;
  border: none !important;
  transition: background-color 0.3s ease;
  font-weight: bold;
  color: white;
}

.deleteButton:hover {
  background-color: #da0f0f !important;
  cursor: pointer;
  color: white !important;
}

.searchBar {
    display: flex;
    justify-content: flex-end;
}

.customer-table .ant-table-thead > tr > th {
    background-color: #ADEA16;  
    font-weight: bold;            
    color: #333;                 
    text-align: center;
    font-size: large;          
}

.ant-table-thead > tr > th, 
.ant-table-tbody > tr > td {
    font-size: medium;
}

.customer-table .ant-table-column-has-sorters:hover {
    background-color: #8FCB13 !important;
    color: black;              
    cursor: pointer;            
    transition: background-color 0.3s ease;
}

.custom-table .ant-table-container {
  border: 2px solid #ADEA16 !important; /* Your desired border color */
  border-radius: 8px;         /* Optional: rounded corners */
}

.customer-table .ant-table-tbody > tr:nth-child(odd) {
  background-color: #e2e2e2;  /* Light gray for odd rows */
}

.customer-table .ant-table-tbody > tr:nth-child(even) {
  background-color: white;    /* White for even rows */
}

.customer-table .ant-table-tbody > tr:hover > td {
  background-color: inherit !important;
}

.clientName, .clientPhone, .clientEmail {
    font-size: 18px;
}

.clientEmail {
    text-decoration: underline;
    color: rgb(30, 141, 233);
}